body {
  margin: 0px auto;
  padding: 1em;
  font-family: "Helvetica", sans-serif;
  line-height: 1.5em;
}

a { color: #057; }

a:hover { color: #900; }
a:visited { color: #939; }

h1 {
  font-size: 150%;
  font-weight: bold;
  margin: -1em -1em -1em;
  padding: 0.75em 0.75em;
  text-align: center;
}

h1 a { text-decoration: none; }

h2 { font-size: 125%; }

ul { margin: 0; padding: 0 1em;}

img {
  height: 420px;
  align: right;
  box-shadow: 0 0 8px 8px rgba(.2, .2, .2, .2);
  margin: 0px 0px 0px 1em;
}

/* Phones */
@media only screen and (max-width: 800px) or (max-height: 500px) {
  body { padding: 1em 0.5em; }
  h1 { font-size: 140%; }
  h2 { font-size: 120%; }
  img {
    height: 400px;
    box-shadow: 0 0 1px 1px rgba(.4, .4, .4, .4);
  }
}

/* Laptops */
@media only screen and (min-width: 800px) and (min-height: 500px) {
  body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #eee none repeat scroll 0 0;
    width: 840px;
    text-align: justify;
  }
  h1 { background: #fff none repeat scroll 0 0; }
  div#content {
    border: 1px solid #bbb;
    background: #fff;
    padding: 3em;
    box-shadow: 0 0 8px 8px rgba(.2, .2, .2, .2);
  }
}
