/**
 * This stylesheet will work pretty well with a regular Org Mode HTML export.
 * However, you do have to turn off all of the defaults:
 *
 * (setq org-export-html-style-include-scripts nil
 *       org-export-html-style-include-default nil)
 *
 * and insert a call to the stylesheet:
 *
 * (setq org-export-html-style
 *       "<link rel=\"stylesheet\" type=\"text/css\" href=\"org-style.css\" />")
 */

/* @group Fonts */

body {
  margin: 0px auto;
  padding: 1em;
  font-family: "Helvetica", "Bitstream Vera Sans", "Verdana", sans-serif;
  line-height: 1.5em;
}

img { width: 20px; padding: 0em .2em; }

a { color: #057; }

a:hover { color: #900; }
a:visited { color: #939; }

h1 {
  font-size: 150%;
  font-weight: bold;
  margin: -1em -1em -1em;
  padding: 0.75em 0.75em;
  text-align: center;
}

h1 a { text-decoration: none; }

h2 {
  font-size: 125%;
  background: #eee;
  border: 1px solid #bbb;
  padding: .3em;
}

ul { margin: 0; padding: 0 1em;}

div#postamble {
  text-align: center;
  color: #666;
  font-size: 90%;
  padding: 2em;
}

/* Phones */
@media only screen and (max-width: 1000px) {
  body { padding: 1em 0.5em; }
  h1 { font-size: 140%; }
  h2 { font-size: 120%; }
}

/* Laptops */
@media only screen and (min-width: 1000px) {
  body {
    background: #eee none repeat scroll 0 0;
    max-width: 1000px;
    text-align: justify;
  }
  h1 { background: #fff none repeat scroll 0 0; }
  div#content {
    border: 1px solid #bbb;
    background: #fff;
    margin: 0;
    padding: 3em;
  }
}
